@page "/list"
@inject IController controller
@inject IModel model

<h5 style=" color:black">Text to search:</h5>
<input name="searchText" class="text-box single-line" @bind="model.SearchText" style="width: 300px" />

<button name="searchButton" class="btn btn-light" @onclick="@(() => controller.SearchPatientsBySurnameCommand.Execute(true))">Search</button>
<button name="showAllButton" class="btn btn-light" @onclick="@(() => controller.SearchPatientsCommand.Execute(true))">Show All</button>

<h5 style="margin: 4px 0px 4px 0px">Patients</h5>
<div class="col-xl-6" style="height: 550px; background-color: white">
    @foreach (Patient patient in model.PatientList)
    {
        var @res = "[" + string.Join(", ", patient.Appointments.Select(s => $"'{s}'")) + "]";
        <div class="row">
            <button class="btn btn-" style="width: 600px">@patient.Name @patient.Surname, <br /> PESEL: @patient.PESEL, <br /> Numer telefonu: @patient.PhoneNumber, <br /> Data urodzenia: @patient.Birthdate.ToString("dd/MM/yyyy"),<br /> Historia wizyt: @res</button>
        </div>
    }
</div>

